// assets/scss/variables.scss

// Palette de couleurs
$primary-color:    #FF9B9B; // Boutons, liens, accents
$secondary-color:  #FDCF91; // Éléments secondaires, hover, icônes
$cta-color:        #FCAF45; // Call-to-action, boutons importants
$contrast-color:   #79AC78; // Header, contrastes, highlights

// Texte et fond
$text-color:       #333333; // Couleur texte principal
$background-light: #FFF8F2; // Fond clair principal
$background-dark:  #2C2C2C; // Sidebar, éléments foncés

// Autres
$border-radius:    8px;
$transition-speed: 0.3s;