// Palette de couleurs
$primary-color:    #f6339a; // Boutons, liens, accents
$secondary-color:  #AEDDCD; // Éléments secondaires, hover, icônes
$cta-color:        #FCAF45; // Call-to-action, boutons importants
$contrast-color:   #556FB5; // Header, contrastes, highlights

// Texte et fond
$text-color:       #2B2B2B; // Couleur texte principal
$background-light: #F9FAFC; // Fond clair principal
$background-dark:  #1A1A1A; // Sidebar, éléments foncés

// Autres
$border-radius:    8px;
$transition-speed: 0.3s;