// Palette de couleurs
$primary-color: #FF9B9B; // Boutons, liens, accents
$secondary-color: #FDCF91; // Fond clair, hover, highlights
$cta-color: #FCAF45; // Call-to-action (boutons importants)
$text-color: #333333; // Couleur du texte par défaut
$contrast-color: #79AC78; // Contraste et éléments secondaires

// Arrière-plans
$background-light: #FFF8F2;
$background-dark: #2C2C2C;

// Autres
$border-radius: 8px;
$transition-speed: 0.3s;
